{% extends 'base.html.twig' %}
{% block title %}
    {% trans %}view.title {% endtrans %}
{% endblock %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>{% trans %}view.header {% endtrans %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ logout_path() }}" class="btn btn-danger pull-right" style="margin-left:10px;">{% trans %}view.logout {% endtrans %}</a>
                {% endif %}
            </h3>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">{% trans %} create.movieTitle {% endtrans %}</th>
                <th style="max-width:570px;" scope="col">{% trans %} create.movieDescription {% endtrans %}</th>
                <th scope="col">{% trans %} create.movieCategory {% endtrans %}</th>
                <th scope="col">{% trans %} create.movieRating {% endtrans %}</th>
                <th scope="col">{% trans %} view.action {% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td style="max-width:570px">{{ movie.description }}</td>
                    <td>{{ movie.category }}</td>
                    <td>{{ movie.Rating }} / 10</td>
                    <td>
                        <a href="{{ absolute_url(asset('')) }}movies/show/{{ movie.id }}"
                           class="btn btn-primary btn-sm">{% trans %} view.visualize {% endtrans %}</a>
                        <a href="{{ absolute_url(asset('')) }}movies/update/{{ movie.id }}"
                           class="btn btn-success btn-sm">{% trans %} view.edit {% endtrans %}</a>
                        <a href="{{ absolute_url(asset('')) }}movies/delete/{{ movie.id }}"
                           class="btn btn-danger btn-sm">{% trans %} view.delete {% endtrans %}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>No records found!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ absolute_url(asset('')) }}movies/create" class="btn btn-primary pull-right"
           style="margin-top:10px;">{% trans %} view.create {% endtrans %}</a>
    </div>
{% endblock %}